@import "variables.scss";
@import "mixins.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Manrope", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}

body {
  @include center();
}

.container {
  height: 800px;
  width: 1440px;
  background-color: $lightGrayishBlue;

  @include center();
  position: relative;
}
